@charset "UTF-8";

/* reset */
body,
html {
    font-family: sans-serif;       /*无衬线字体*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #777;
    width: 100%;
}
h1 {
    font-size: 72px;
    font-weight: 700;
    margin: 0;
}
h2 {
    margin: 0;
    color: #333;
    font-size: 20px;
    font-weight: 400;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #fcb322;
}
ul {
    list-style: none;
}

/* public */
.section-title {
    font-size: 20px;
    position: relative;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1.5em;
    padding-bottom: 10px;
}
.section-title>span {
    display: block;
    width: 100%;
    bottom: 0;
    height: 3px;
    position: absolute;
    background: #fed136;
}
.row-padded {
    padding: 7em 0;
}
.text-center {
    text-align: center;
}

/* Navigation */
@media screen and (min-width: 768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: none;
        background: transparent;
        letter-spacing: 1px;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .navbar-shrink {
        padding: 10px 0;
        background: #222;
    }
}

.navbar-header a {
    font-size: 36px;
    font-weight: 600;
}
.navbar-collapse a {
    font-size: 20px;
    font-weight: 400;
}
.navbar-default .navbar-brand{
    color: #fed136;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-brand:hover {
    color: #fed136;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fed136;
}
@media screen and (max-width: 768px) {
    .navbar-default .navbar-brand {
        color: #333;
    }
    .navbar-default .navbar-nav>li>a {
        color: #88929a;
    }
}


/* Header */
header {
    background-image: url("../images/header-bg.jpg");
    background-position: center center;
    position: relative;
    z-index: 1;
    background-attachment: fixed;   /*决定背景background-image是在视口中固定还是随包含块滚动*/
    color: #fff;
    text-align: center;
}
.wrap-intro {
    display: table;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
@media (min-width: 768px) {
    .wrap-intro {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}
.wrap-intro .intro {
    position: relative;
    z-index: 3;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}
.intro-link {
    margin-bottom: 50px;
}
.cycle-link {                                              /* 圆形动画部分 */
    background: url("../images/icon/cycle.svg");
    width: 400px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}
@media screen and (max-width: 768px) {          /* 媒体查询圆形动画部分 */
    .cycle-link {
        width: 100%;
        margin: 0 auto;
        background: none;
    }
    .cycle-link>a {
        display: none;
    }
}
.cycle-link .link-github,
.cycle-link .link-zhihu,
.cycle-link .link-jianshu {
    position: absolute;
    border-radius: 25px;
    width: 120px;
    height: 50px;
    color: #fff;
}
.cycle-link .link-github {              /* gtihub */
    left: -10px;
    top: 307px;
    background-color: #42c9a3;
}
.cycle-link .link-zhihu {                /* 知乎 */
    left: 339px;
    top: 155px;
    background-color: #EAC251;
}
.cycle-link .link-jianshu {             /* 简书 */
    left: 30px;
    top: 7px;
    background-color: #6DB3D9;
}
.cycle-link .link-github .icon-github,
.cycle-link .link-zhihu .icon-zhihu,
.cycle-link .link-jianshu .icon-jianshu {
    position: relative;
    left: 5px;
    border-radius: 25px;
    display: block;
    width: 50px;
    height: 50px;
}

.cycle-link .link-github .icon-github {                        /* gtihub图标 */
    background: url("../images/icon/github.png") no-repeat;
    background-size: cover;
}
.cycle-link .link-zhihu .icon-zhihu {               /* 知乎图标 */
    background: url("../images/icon/weibo.png") no-repeat;
    background-size: cover;
}
.cycle-link .link-jianshu .icon-jianshu {             /* 简书图标 */
    background: url("../images/icon/blog.png") no-repeat;
    background-size: cover;
}
.cycle-link .link-github .text-github,
.cycle-link .link-zhihu .text-zhihu,
.cycle-link .link-jianshu .text-jianshu {
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -10px;
    font-size: 16px;
    text-align: right;
}

.cycle-link .link-github .text-github {           /* github文本*/
    margin-left: -5px;
}
.green_cycle{
    width: 260px;
    height: 260px;
    margin:0 auto;
    padding-top: 70px;
}

.yellow_cycle{
    display: inline-block;
    width: 240px;
    height: 240px;
    margin: 10px;
    position: relative;
}

.blue_cycle{
    width: 220px;
    height: 220px;
    text-align: center;
    margin: 10px auto;
}
.green_cycle_img,.yellow_cycle_img,.blue_cycle_img{
    position: absolute;
}
.green_cycle_img{
    animation-name: clockwise;
    animation-duration:1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;

    /*safari & Chrome */
    -webkit-animation-name:clockwise;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
}

.yellow_cycle_img{
    margin-left: -50%;
    animation-name: anticlockwise;
    animation-duration:1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;

    /*safari & Chrome */
    -webkit-animation-name:anticlockwise;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
}

.blue_cycle_img{
    animation-name: clockwise;
    animation-duration:1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;

    /*safari & Chrome */
    -webkit-animation-name:clockwise;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
}
.head_img_div{
    position: relative;
    z-index: 2;
    display: inline;
    width: 200px;
    height: 200px;
    margin-top: 7px;
}

.head_img {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid pink;
    margin: 7px;
    -webkit-animation: headneon 1.5s ease-in-out infinite alternate;
    -moz-animation: headneon 1.5s ease-in-out infinite alternate;
    animation: headneon 1.5s ease-in-out infinite alternate;
}

.wrap-intro .intro .intro-name {
    color: #fed136;
    line-height: 93px;
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 10px;
    margin: 0;
}
@media screen and (max-width: 768px) {
    .wrap-intro .intro .intro-name {
        font-size: 42px;
        line-height: 63px;
    }
}
.wrap-intro .intro .intro-sub {
    font-size: 31px;
    font-weight: 300;
    color: #fff;
    line-height: 51px;
}
@media screen and (max-width: 768px) {
    .wrap-intro .intro .intro-sub {
        font-size: 21px;
        line-height: 41px;
    }
}

/* About me */
#aboutMe p {
    margin-bottom: 1.5em;
    color: #88929a;
}

/* skills */
#skills {
    background-image: url("../images/hero-4.jpg");
    background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 2em 0;
}
@media screen and (max-width: 992px) {
    .progress-padded {
        padding: 7em 0;
    }
}
#skills .overlay-bgColor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0 , 0, .4);
}
#skills .section-title {
    color: #fff;
}
.progress-title {
    font-size: 16px;
    letter-spacing: 0.7px;
    color: #fff;
    text-transform: uppercase;
    margin: 10px 0 10px;
}
.progress-bar {
    height: 20px;
}
.progress{
    position: relative;
    background: transparent;
    box-shadow: none;
}


/* projects */
#projects .section-title+p { color: #88929a;}
div.project a {
    margin-bottom: 1.5em;
    display: block;
    position: relative;
}
#projects .overlay-bgColor {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(254, 209, 54, .8);
    z-index: 8;
    opacity: 0;
}
#projects .overlay-title {
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
    margin-top: -15px;
    z-index: 9;
    /*color: #fff;*/
    font-size: 20px;
    /*opacity: 0;*/
}
#projects .overlay-text {
    position: absolute;
    top: 60%;
    text-align: center;
    width: 100%;
    margin-top: -15px;
    z-index: 9;
    /*color: #fff;*/
    font-size: 16px;
    /*opacity: 0;*/
}
@media screen and (max-width: 480px) {
    .col-xxs-12 {
        float: none;
        display: block;
        clear: both;
        width: 100%;
    }
}
.pro-img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* contact */
#contact {
    background-image: url("../images/map-image.png");
    background-color: #222;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    padding: 2em 0;
}
@media screen and (max-width: 992px) {
    .contact-padded {
        padding: 7em 0;
    }
}
#contact,
#contact .content-wrap {
    height: 500px;
    width: 100%;
}
@media screen and (max-width: 992px) {
    #contact,
    #contact .content-wrap {
        height: inherit;
    }
}
#contact .content-wrap {
    display: table;
}
#contact .content-wrap .content {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
#contact .section-title {
    color: #fff;
}
.contact {
    color: #fff;
    padding: 0;
    margin: 0 0 1.5em 0;
}
.contact li {
    position: relative;
    padding: 0;
    margin: 0 0 .5em 0;
    padding-left: 30px;
}
.form-group {
    margin-bottom: 30px;
}
.form-control {
    border: none !important;
    background: #fff;
    display: block;
    width: 100%;
    height: 50px;
    padding: 14px 12px;
    font-size: 14px;
}
#message {
    height: 130px;
}
input[type="submit"].btn:hover {
    background-color: #fed136;
    border-color: #fed136;
}
input[type="submit"].btn {
    font-size: 18px;
    height: 49px;
}
input[type="submit"].btn-primary {
    color: #fff;
    background-color: rgba(254, 209, 54, .8);
    border-color: rgba(254, 209, 54, .8);
}